#card5{
    text-align: left;
    margin: 2px;
    margin-right:100px;
    }

#card6{
    text-align: left;
    margin: 2px;
    margin-right:100px;
    }

#input{

    text-align: left;
    margin: 2px;
    margin-right:100px;
    margin-bottom: 20px;
    }