@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
#background {
    
 background-color: #A35B62;
 height: 700px;
    
}




#titule {
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    color: #A35B62;
}

