@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

#nav{
background-color: #A35B62;
}

#titule2{
    font-family: 'Fredoka One', cursive;
    font-size: 18px;
    }

#titule3{

color: aliceblue;
}    

